@import url('https://fonts.cdnfonts.com/css/desire-2');

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: 'Desire', sans-serif;                
}

/*  Resoluciones Medianas */

@media only screen and (min-width: 600px) and (max-width: 991px) {
    .my-flex {
     display: flex !important;
     flex-direction: column;
    }
 }




